In [ ]:
import math

In [ ]:
#Task 1

In [ ]:
r = int(input("Enter the number of rows "))
for i in range(r):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter the number of rows 4
*

* *

* * *

* * * *

In [ ]:

r = int(input("Enter rows: "))
c = int(input("Enter columns: "))

print("Rectangle: ")
for i in range(r):
    for j in range(c):
        print('*', end = '  ')
    print()

Enter rows: 5
Enter columns: 5
Rectangle:
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [ ]:
#Task 2(A)

In [ ]:
dict = {
  "brand": "Lambo",
  "model": "Ferrari",
  "year": 1990
}
print(dict)
x = dict["model"]
print(x)
y = dict.get("model")
print(y)
dict["year"] = 2018
print(dict)
len(dict)

{'brand': 'Lambo', 'model': 'Ferrari', 'year': 1990}
Ferrari
Ferrari
{'brand': 'Lambo', 'model': 'Ferrari', 'year': 2018}

3

In [ ]:
#Task 2(B)

In [ ]:
tuple = ("strawberry", "banana", "peach","cherry")
print(tuple)
print(tuple[1])

if "banana" in tuple:
  print("Yes,banana is available")

len(tuple)

('strawberry', 'banana', 'peach', 'cherry')
banana
Yes,banana is available

4

In [ ]:
#Task 3

In [ ]:
h = float(input("Height: "))
r = float(input("Radius: "))
pi=3.14
vol=pi*r*r*h
print ("Volume is :",vol)

Height: 2
Radius: 6
Volume is : 226.07999999999998

In [ ]:
#Task 4

In [ ]:
print("This task performs 4 operations ")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")
print("---------------------------")
a=input("Enter 1st num")
b=input("Enter 2nd num")
op=input("Enter operator +,-,*,/")
a=int(a)
b=int(b)
if op=="+":
  print(a+b)
elif op=="-":
  print(a-b)
elif op=="*":
  print(a*b)
elif op=="/":
  print(a/b)
else:
  print("invalid operator")

This task performs 4 operations
1.Addition
2.Subtraction
3.Multiplication
4.Division
---------------------------
Enter 1st num2
Enter 2nd num3
Enter operator +,-,*,/+
5

In [ ]:
#Task 5

In [ ]:
s=input("Enter string")
s=s.replace(',',"")
s=s.replace('.',"")
s=s.replace(':',"")
s=s.replace(' ',"")
s=s.casefold()
s1=len(s)
if s==s[::-1]:
    print("It is palindrome")
else:
        print("It is Not palindrome")

print(s)

Enter stringhbhjb
It is Not palindrome
hbhjb

In [ ]:
#Task 6

In [ ]:
def fac():
  print("enter num ")
  num=int(input())
  fact=1
  if(num<0):
    print("Not valid")
  elif(num==0):
      print(1)
  else:
        for i in range(1,num+1):
          fact*=i
  print(fact)
  return fact
fac()

In [ ]:
#Task 7

In [ ]:
def lists(l1, l2):
     res = False
     for x in l1:
         for y in l2:
             if x == y:
                 res = True
                 return res

print(lists([1,2,3,4], [6,7,8]))
print(lists([1,2,3,4,5], [5,6,7,8]))

None
True

In [ ]:
#Task 8

In [ ]:
a = {1, 2, 3, 4, 5, 6}
b = {1, 2, 3}
print(a.issuperset(b))
print(a.issuperset(a))

True
True